<header class="bg-white text-primaryText flex items-center justify-between">
  <img src="logo5.png" alt="Learning Platform Logo" class="h-14" />
  <app-navbar></app-navbar>
  <div class="flex gap-4">
    <button
      class="rounded-full border-secondary px-4 py-2 bg-transparent hover:bg-red-300 ml-2 font-bold"
    >
      Signin
    </button>
    <button
      class="rounded-full border-2 border-secondary px-4 py-2 bg-transparent hover:bg-red-300 font-bold"
    >
      Signup
    </button>
  </div>
</header>
